In [1]:
# from src.translation_utils import *
from src.dataset_utils import *
from src.cot_utils import *

c:\Users\maras\anaconda3\envs\llama\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
mgsm = get_dataset_df("mgsm","en")

In [3]:
mgsm

                                              question  answer_number
0    Janet’s ducks lay 16 eggs per day. She eats th...             18
1    A robe takes 2 bolts of blue fiber and half th...              3
2    Josh decides to try flipping a house.  He buys...          70000
3    James decides to run 3 sprints 3 times a week....            540
4    Every day, Wendi feeds each of her chickens th...             20
..                                                 ...            ...
245  There are 4 snails in one aquarium and 32 snai...              7
246  Jeans makeup artist charges her $250 an hour. ...          27000
247  Isabelle bought party supplies for her little ...             32
248  A chef bought 4 bags of onions. Each bag weigh...            300
249  On Monday, Sue ate 4 times as many cookies as ...           5600

[250 rows x 2 columns]

In [4]:
def extract_answer(inputstring):
    """
    Finds the last mentioned number in a string.
    
    Parameters:
    input: string.

    Returns:
    String value of the last mentioned number.
    """
    # Regular expression to find 'the answer is ' followed by a number
    #### how to do this for any language? dict?
    match = re.search(r'the answer is (\b\d+(?:[,.]\d+)?\b)', inputstring,re.IGNORECASE)

    if match:
        # Extract the number after 'the answer is'
        number = match.group(1)
        return number
    else:
        numberlist = re.findall(r'\b\d+(?:[,.]\d+)?\b',inputstring)
        if len(numberlist) != 0:
            return numberlist[-1]
        else:
            return None

In [ ]:
response = pd.read_csv('../results/llama2_mgsm_English_basic_0-shot_English.csv',sep=';',header=None)
response.rename(columns={0:'response'},inplace=True)
response = response.applymap(lambda x: x.replace('\n', ' ') if isinstance(x, str) else x)

answer_list = []

for i in range(len(response)):
    answer = extract_answer(response.iloc[i,0])
    if answer is not None:
        answer = answer.replace(',', '')
    answer_list.append(answer)

response['answer'] = answer_list
response['answer'] = pd.to_numeric(response['answer'], errors='coerce')
response

In [ ]:
response['answer'].isna().sum()

In [ ]:
calculate_accuracy(mgsm,response)

In [ ]:
response = pd.read_csv('../results/llama2_mgsm_English_basic_1-shot_English.csv',sep=';',header=None)
response.rename(columns={0:'response'},inplace=True)
response = response.applymap(lambda x: x.replace('\n', ' ') if isinstance(x, str) else x)

answer_list = []

for i in range(len(response)):
    answer = extract_answer(response.iloc[i,0])
    if answer is not None:
        answer = answer.replace(',', '')
    answer_list.append(answer)

response['answer'] = answer_list
response['answer'] = pd.to_numeric(response['answer'], errors='coerce')
response

In [ ]:
response['answer'].isna().sum()

In [ ]:
calculate_accuracy(mgsm,response)

In [ ]:
response = pd.read_csv('../results/bloomz_mgsm_English_basic_0-shot_English.csv',sep=';',header=None)
response.rename(columns={0:'response'},inplace=True)
response = response.map(lambda x: x.replace('\n', ' ') if isinstance(x, str) else x)

answer_list = []

for i in range(len(response)):
    answer = extract_answer(response.iloc[i,0])
    if answer is not None:
        answer = answer.replace(',', '')
    answer_list.append(answer)

response['answer'] = answer_list
response['answer'] = pd.to_numeric(response['answer'], errors='coerce')

print('Missing values:',response['answer'].isna().sum())
print('Accuracy:',calculate_accuracy(mgsm,response))

In [ ]:
response = pd.read_csv('../results/bloomz_mgsm_English_basic_1-shot_English.csv',sep=';',header=None)
response.rename(columns={0:'response'},inplace=True)
response = response.map(lambda x: x.replace('\n', ' ') if isinstance(x, str) else x)

answer_list = []

for i in range(len(response)):
    answer = extract_answer(response.iloc[i,0])
    if answer is not None:
        answer = answer.replace(',', '')
    answer_list.append(answer)

response['answer'] = answer_list
response['answer'] = pd.to_numeric(response['answer'], errors='coerce')
response
# print('Missing values:',response['answer'].isna().sum())
# print('Accuracy:',calculate_accuracy(mgsm,response))

In [5]:
response = pd.read_csv('../results/bloomz_mgsm_English_basic_2-shot_English.csv',sep=';',header=None)
response.rename(columns={0:'response'},inplace=True)
response = response.map(lambda x: x.replace('\n', ' ') if isinstance(x, str) else x)

answer_list = []

for i in range(len(response)):
    answer = extract_answer(response.iloc[i,0])
    if answer is not None:
        answer = answer.replace(',', '')
    answer_list.append(answer)

response['answer'] = answer_list
response['answer'] = pd.to_numeric(response['answer'], errors='coerce')
# response
print('Missing values:',response['answer'].isna().sum())
print('Accuracy:',calculate_accuracy(mgsm,response))

Missing values: 57
Accuracy: 0.0