In [1]:
# from src.translation_utils import *
from src.dataset_utils import *

c:\Users\maras\anaconda3\envs\llama\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
dataset = get_dataset("mgsm","fr")

In [13]:
df = pd.DataFrame(data={'question' : dataset["test"]["question"],
                        'answer_number' : dataset["test"]["answer_number"]})
df

                                              question  answer_number
0    Les canes de Janet pondent 16 œufs par jour. C...             18
1    Une robe nécessite 2 rouleaux de fibre bleue e...              3
2    Josh se lance dans la rénovation d'une maison....          70000
3    Jacques fait des séries de 3 sprints 3 fois pa...            540
4    Pour garder ses poulets en bonne santé, Wendi ...             20
..                                                 ...            ...
245  Il y a 4 escargots dans un aquarium et 32 dans...              7
246  La maquilleuse de Jeanne lui facture 250 $ de ...          27000
247  Isabelle a acheté des fournitures pour la fête...             32
248  Un chef a acheté 4 sacs d'oignons de 50 livres...            300
249  Lundi, Sue a mangé 4 fois plus de biscuits que...           5600

[250 rows x 2 columns]

In [ ]:
input_list = ['This is the sentence to translate.']
translate_list(input_list,"en","nl")