In [1]:
# from src.translation_utils import *
from src.dataset_utils import *
from src.cot_utils import *

c:\Users\maras\anaconda3\envs\llama\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
mgsm_en = load_dataset("juletxara/mgsm","en")        
mgsm_bn = load_dataset("juletxara/mgsm","bn")     
mgsm_de = load_dataset("juletxara/mgsm","de")     
mgsm_es = load_dataset("juletxara/mgsm","es")     
mgsm_fr = load_dataset("juletxara/mgsm","fr")     
mgsm_ja = load_dataset("juletxara/mgsm","ja")     
mgsm_ru = load_dataset("juletxara/mgsm","ru")     
mgsm_sw = load_dataset("juletxara/mgsm","sw")     
mgsm_te = load_dataset("juletxara/mgsm","te")     
mgsm_th = load_dataset("juletxara/mgsm","th")     
mgsm_zh = load_dataset("juletxara/mgsm","zh")

In [6]:
exemplars = pd.read_csv('mgsm_exemplars.csv',sep=';')
exemplars

,language,question,answer
0,afr_Latn,Vraag: Roger het 5 tennisballe. Hy koop nog 2 ...,Stap-vir-stap antwoord: Roger het met 5 balle ...
1,afr_Latn,Vraag: Daar was nege rekenaars in die bediener...,Stap-vir-stap antwoord: Daar is 4 dae van Maan...
2,afr_Latn,Vraag: Leah het 32 sjokolade gehad en haar sus...,Stap-vir-stap-antwoord: Leah het 32 sjokolade ...
3,afr_Latn,Vraag: Shawn het vyf speelgoed. Vir Kersfees h...,Stap-vir-stap-antwoord: Hy het 5 speelgoed. Hy...
4,afr_Latn,Vraag: Michael het 58 gholfballe gehad. Dinsda...,Stap-vir-stap antwoord: Michael het met 58 gho...
...,...,...,...
371,zul_Latn,Umbuzo: UShawn unamathoyizi amahlanu. NgoKhisi...,Impendulo Yezinyathelo Ngezinyathelo: Unamatho...
372,zul_Latn,Umbuzo: UMichael wayenezinkuni zegalofu ezingu...,Impendulo Yezinyathelo Ngezinyathelo: UMichael...
373,zul_Latn,Umbuzo: U-Olivia unama-dollar angu-23. Watheng...,Impendulo Eyisinyathelo-Ngesinyathelo: Ama - b...
374,zul_Latn,Umbuzo: UJason wayene-lolipops engu-20. Wanika...,Impendulo Elula: UJason waqala enama - lollipo...
375,zul_Latn,Umbuzo: Uma kunemoto emithathu endaweni yokupa...,Impendulo Yezinyathelo Ngezinyathelo: Ekuqalen...

In [4]:
df = pd.DataFrame(data={'language' : ['eng_Latn']*8 + ['ben_Beng']*8 + ['deu_Latn']*8 + ['fre_Latn']*8 + ['spa_Latn']*8 + ['tel_Telu']*8 + ['tha_Thai']*8 + ['jap_Japn']*8 + ['zho_Hant']*8 + ['rus_Cyrl']*8 + ['swa_Latn']*8,
                        'question': mgsm_en['train']['question']+ mgsm_bn['train']['question'] + mgsm_de['train']['question'] + mgsm_fr['train']['question'] + mgsm_es['train']['question'] + mgsm_te['train']['question'] + mgsm_th['train']['question'] + mgsm_ja['train']['question'] + mgsm_zh['train']['question'] + mgsm_ru['train']['question'] + mgsm_sw['train']['question'],
                        'answer': mgsm_en['train']['answer'] + mgsm_bn['train']['answer'] + mgsm_de['train']['answer'] + mgsm_fr['train']['answer'] + mgsm_es['train']['answer'] + mgsm_te['train']['answer'] + mgsm_th['train']['answer'] + mgsm_ja['train']['answer'] + mgsm_zh['train']['answer'] + mgsm_ru['train']['answer'] + mgsm_sw['train']['answer']
                        })

In [5]:
merged_df = pd.concat([df, exemplars])

df.to_csv('mgsm_exemplars_original.csv', sep=';', index=False, header=True)

,language,question,answer
0,eng_Latn,Question: Roger has 5 tennis balls. He buys 2 ...,Step-by-Step Answer: Roger started with 5 ball...
1,eng_Latn,Question: There were nine computers in the ser...,Step-by-Step Answer: There are 4 days from mon...
2,eng_Latn,Question: Leah had 32 chocolates and her siste...,Step-by-Step Answer: Leah had 32 chocolates an...
3,eng_Latn,"Question: Shawn has five toys. For Christmas, ...",Step-by-Step Answer: He has 5 toys. He got 2 f...
4,eng_Latn,Question: Michael had 58 golf balls. On tuesda...,Step-by-Step Answer: Michael started with 58 g...
...,...,...,...
371,zul_Latn,Umbuzo: UShawn unamathoyizi amahlanu. NgoKhisi...,Impendulo Yezinyathelo Ngezinyathelo: Unamatho...
372,zul_Latn,Umbuzo: UMichael wayenezinkuni zegalofu ezingu...,Impendulo Yezinyathelo Ngezinyathelo: UMichael...
373,zul_Latn,Umbuzo: U-Olivia unama-dollar angu-23. Watheng...,Impendulo Eyisinyathelo-Ngesinyathelo: Ama - b...
374,zul_Latn,Umbuzo: UJason wayene-lolipops engu-20. Wanika...,Impendulo Elula: UJason waqala enama - lollipo...
375,zul_Latn,Umbuzo: Uma kunemoto emithathu endaweni yokupa...,Impendulo Yezinyathelo Ngezinyathelo: Ekuqalen...

In [1]:

len(['bul_Cyrl','cat_Latn','ces_Latn','dan_Latn','fin_Latn','hrv_Latn','hun_Latn','ind_Latn','ita_Latn','kor_Hang','nld_Latn','nno_Latn','pol_Latn','por_Latn','ron_Latn','slv_Latn','srp_Cyrl','swe_Latn','ukr_Cyrl','vie_Latn'])

20

In [17]:
response = pd.read_csv('../results/response_mgsm_English_basic_0-shot_English.csv',sep=';',header=None)
response.rename(columns={0:'response'},inplace=True)
response

                                                     0
0    Response: \n\nAnswer:\n\nJanet sells 16 - 3 = ...
1    Response: \n\nAnswer:\n\nTo make a robe, you n...
2    Response: \n\nAnswer:\n\n$80,000 (purchase pri...
3    Response: \n\nAnswer: 180 meters (60 meters x ...
4    Response: \n\nAnswer: Wendi needs to give her ...
..                                                 ...
245  Response: \n\nAnswer:\n\nLet's call the number...
246  Response: \n\nAnswer:\n\nJean pays $250 x 6 ho...
247                                         Response:
248  Response: \n\nAnswer:\nThe chef spent $600 on ...
249  Response: \n\nAnswer:\n\nLet's start by identi...

[250 rows x 1 columns]

In [19]:
response = response.applymap(lambda x: x.replace('\n', ' ') if isinstance(x, str) else x)

C:\Users\maras\AppData\Local\Temp\ipykernel_31364\35849931.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  response = response.applymap(lambda x: x.replace('\n', ' ') if isinstance(x, str) else x)

In [20]:
response

                                              response
0    Response:   Answer:  Janet sells 16 - 3 = 13 e...
1    Response:   Answer:  To make a robe, you need ...
2    Response:   Answer:  $80,000 (purchase price) ...
3    Response:   Answer: 180 meters (60 meters x 3 ...
4    Response:   Answer: Wendi needs to give her ch...
..                                                 ...
245  Response:   Answer:  Let's call the number of ...
246  Response:   Answer:  Jean pays $250 x 6 hours/...
247                                         Response:
248  Response:   Answer: The chef spent $600 on oni...
249  Response:   Answer:  Let's start by identifyin...

[250 rows x 1 columns]

In [21]:
response['answer'] = response.apply(extract_answer(), axis=1)
response

TypeError: extract_answer() missing 1 required positional argument: 'inputstring'

In [26]:
extract_answer(response.iloc[0,0])

'26'

In [25]:
response.iloc[0,0]

"Response:   Answer:  Janet sells 16 - 3 = 13 eggs per day at the farmers' market.  At $2 per egg, she makes $2 x 13 = $26 per day at the farmers' market."

In [17]:
import pandas as pd
nr_shots = 4
exemplars = pd.read_csv('../datasets/mgsm/mgsm_exemplars_llama2.csv', sep=';')
exemplars = exemplars[exemplars['language'] == 'eng_Latn'] # select target language exemplars

exemplar_string = ''
if 0 <= nr_shots <= len(exemplars):
    sampled_exemplars = exemplars.sample(n=nr_shots, random_state=2024)
    print(sampled_exemplars)
            
    for _, row in sampled_exemplars.iterrows():
        exemplar_string += ' ' + row.iloc[1] + ' ' + row.iloc[2]
print(exemplar_string)

   language                                           question  \
1  eng_Latn  Question: There were nine computers in the ser...
6  eng_Latn  Question: Jason had 20 lollipops. He gave Denn...
4  eng_Latn  Question: Michael had 58 golf balls. On tuesda...
3  eng_Latn  Question: Shawn has five toys. For Christmas, ...

                                              answer
1  Step-by-Step Answer: There are 4 days from mon...
6  Step-by-Step Answer: Jason started with 20 lol...
4  Step-by-Step Answer: Michael started with 58 g...
3  Step-by-Step Answer: He has 5 toys. He got 2 f...
 Question: There were nine computers in the server room. Five more computers were installed each day, from monday to thursday. How many computers are now in the server room? Step-by-Step Answer: There are 4 days from monday to thursday. 5 computers were added each day. That means in total 4 * 5 = 20 computers were added. There were 9 computers in the beginning, so now there are 9 + 20 = 29 computers. The answer is 29. Question: Jason had 20 lollipops. He gave Denny some lollipops. Now Jason has 12 lollipops. How many lollipops did Jason give to Denny? Step-by-Step Answer: Jason started with 20 lollipops, but now he only has 12, so he gave Denny 20 - 12 = 8 lollipops. The answer is 8. Question: Michael had 58 golf balls. On tuesday, he lost 23 golf balls. On wednesday, he lost 2 more. How many golf balls did he have at the end of wednesday? Step-by-Step Answer: Michael started with 58 golf balls and lost 23, so he has 58 - 23 = 35. After he lost 2 more, he has 35 - 2 = 33 balls now. The answer is 33. Question: Shawn has five toys. For Christmas, he got two toys each from his mom and dad. How many toys does he have now? Step-by-Step Answer: He has 5 toys. He got 2 from mom, so after that he has 5 + 2 = 7 toys. Then he got 2 more from dad, so in total he has 7 + 2 = 9 toys. The answer is 9.